<% include header %>
    <div class="container">
        <div class="jumbotron">
          <h1>Hello, world <%= title %>!</h1>
          <p>...</p>
          <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
        </div>
    </div>
<% include footer %>
