.mytext{
    border:0;padding:10px;background:whitesmoke;
}
.text{
    width:75%;display:flex;flex-direction:column;
}
.text > p:first-of-type{
    width:100%;margin-top:0;margin-bottom:auto;line-height: 13px;font-size: 12px;
}
.text > p:last-of-type{
    width:100%;text-align:right;color:silver;margin-bottom:-7px;margin-top:auto;
}
.text-l{
    float:left;padding-right:10px;
}
.text-r{
    float:right;padding-left:10px;
}
.avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:25%;
    float:left;
    padding-right:10px;
}
.macro{
    margin-top:5px;width:85%;border-radius:5px;padding:5px;display:flex;
}
.msj-rta{
    float:right;background:whitesmoke;
}
.msj{
    float:left;background:white;
}
.frame{
    background:#e0e0de;
    height:450px;
    overflow:hidden;
    padding:0;
}
.frame > div:last-of-type{
    position:absolute;bottom:5px;width:100%;display:flex;
}
.template ul {
    width:100%;
    list-style-type: none;
    padding:18px;
    position:absolute;
    bottom:32px;
    display:flex;
    flex-direction: column;

}
.msj:before{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:-14px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent #ffffff transparent transparent;
}
.msj-rta:after{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:14px;
    position:relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: whitesmoke transparent transparent transparent;
}
input:focus{
    outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d4d4d4;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #d4d4d4;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #d4d4d4;
}
:-moz-placeholder { /* Firefox 18- */
    color: #d4d4d4;
}

.button-send{
    width: 50px;
    position: absolute;
    right: 46px;
    top: 7px;
    padding: 7px !important;
}
.template{
    padding:0 20px;

}
.new-message{
    background:#428bca;
}

/*danh bai*/

.play-table{
    width:100%;
    height: 600px;
    background-color: #ccc;
    position: relative;
    margin-bottom:40px;
    padding:20px;
}
.play-table .position .cards{
    padding: 0;
    margin:0;
}
.play-table .position li{
    width:60px;
    height: 70px;
    border:#428bca solid 2px;
    font-size:25px;
    font-weight:bold;
    background-color: white;

    background-position: 20px 23px;
    background-repeat:no-repeat ;
    -webkit-background-size:25px 25px;
    background-size:27px 27px;
    padding-left:3px;
    display: inline-block;
    position: relative;
    border-radius: 4px;
}
.play-table .position .co{
    background-image: url('http://127.0.0.1/asset/co.png');
}
.play-table .position .ro{
    background-image: url('http://127.0.0.1/asset/ro.png');
}
.play-table .position .chuong{
    background-image: url('http://127.0.0.1/asset/chuong.png');
}
.play-table .position .bich{
    background-image: url('http://127.0.0.1/asset/bich.png');
}
.play-table .position .co,.play-table .position .ro{
    color:red;
}

.play-table .position .chuong,.play-table .position .bich{
    color:black;
}
.play-table .position-player{
    list-style:none;
    float: left;
    margin-right: 20px;
    margin-bottom:20px;
}
.play-table .position-me{
    position: absolute;
    bottom:20px;
    left: 40%;
    list-style:none;
}

.play-table .position-me li{
    display: inline-block;
}



.play-table .btn-start{
    position: absolute;
    top:60%;
    left:48%;
}

.play-table .play-info{
    font-size:20px;
    color:red;
    width:100%;
    display: block;
    text-align: center;
    position: absolute;
    bottom:162px;
}

.mark li:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:56px;
    height: 66px;
    background:grey;
    display: block;
}
.man-info{
    margin-bottom:0px;
}
.man-info .result{
    margin-left:10px;
    display: none;
}
.man-info .winner{
    color:red;
}
.money{
    color:darkgoldenrod;
    font-size: 16px;
}
.position .cards{
    min-width: 180px;
}